@{
    ViewData["Title"] = "Home Page";

    var sessionEmail = Context.Session.GetString("email");
    var sessionNome = Context.Session.GetString("nome");
    var sessionTipoUsuarioId = Context.Session.GetString("tipo");

}


<div class="container overflow-hidden text-center">
    <div class="row row-cols-2  " style="gap:70px;    display: flex;
    justify-content: center; margin-bottom:70px;margin-top:70px;">
        <a class="col-12 col-md-5 col-lg-3 " asp-controller="TiposUsuario" style="
            text-decoration: none;

            color: white;
            font-size: x-large;

height: 180px;
            border-radius: 15px;
               background:rgba(0,0,0, 0.4); backdrop-filter:saturate(180%) blur(20px);
cursor:pointer;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;

" asp-action="Index">Tipos Usuario</a>

        <a class="col-12 col-md-5 col-lg-3 " asp-controller="Usuarios" style="
            text-decoration: none;

            color: white;
            font-size: x-large;

height: 180px;
            border-radius: 15px;
               background:rgba(0,0,0, 0.4); backdrop-filter:saturate(180%) blur(20px);
cursor:pointer;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;

" asp-action="Index">Usuarios</a>

        <a class="col-12 col-md-5 col-lg-3 " asp-controller="Alunos" style="
            text-decoration: none;

            color: white;
            font-size: x-large;

height: 180px;
            border-radius: 15px;
               background:rgba(0,0,0, 0.4); backdrop-filter:saturate(180%) blur(20px);
cursor:pointer;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;

" asp-action="Index">Alunos</a>


        <a class="col-12 col-md-5 col-lg-3 " asp-controller="Turmas" style="
            text-decoration: none;

            color: white;
            font-size: x-large;

height: 180px;
            border-radius: 15px;
               background:rgba(0,0,0, 0.4); backdrop-filter:saturate(180%) blur(20px);
cursor:pointer;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;

" asp-action="Index">Turmas</a>



        <a class="col-12 col-md-5 col-lg-3 " asp-controller="AlunosTurma" style="
            text-decoration: none;

            color: white;
            font-size: x-large;

height: 180px;
            border-radius: 15px;
               background:rgba(0,0,0, 0.4); backdrop-filter:saturate(180%) blur(20px);
cursor:pointer;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;

" asp-action="ListaAlunos">Alunos Turmas</a>


        <a class="col-12 col-md-5 col-lg-3 " asp-controller="Salas" style="
            text-decoration: none;

            color: white;
            font-size: x-large;

height: 180px;
            border-radius: 15px;
               background:rgba(0,0,0, 0.4); backdrop-filter:saturate(180%) blur(20px);
cursor:pointer;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;

" asp-action="Index">Salas</a>

        <a class="col-12 col-md-5 col-lg-3 " asp-controller="ReservasSala" style="
            text-decoration: none;

            color: white;
            font-size: x-large;

height: 180px;
            border-radius: 15px;
               background:rgba(0,0,0, 0.4); backdrop-filter:saturate(180%) blur(20px);
cursor:pointer;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;

" asp-action="Reservas">Reserva de Salas</a>

        <a class="col-12 col-md-5 col-lg-3 " asp-controller="TiposOcorrencia" style="
            text-decoration: none;

            color: white;
            font-size: x-large;

height: 180px;
            border-radius: 15px;
               background:rgba(0,0,0, 0.4); backdrop-filter:saturate(180%) blur(20px);
cursor:pointer;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;

" asp-action="Index">Tipo de Ocorrências</a>



        <a class="col-12 col-md-5 col-lg-3 " asp-controller="Ocorrencias" style="
            text-decoration: none;

            color: white;
            font-size: x-large;

height: 180px;
            border-radius: 15px;
               background:rgba(0,0,0, 0.4); backdrop-filter:saturate(180%) blur(20px);
cursor:pointer;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;

" asp-action="ListaOcorrencias">Boletim de Ocorrências</a>


    </div>
   
</div>
